:root {
    --primary: rgb(123, 177, 67);
    --secondary: rgb(20, 160, 203);
    --primary-content: rgba(123, 177, 67, 0.2);
    --secondary-content: rgb(20, 160, 203, 0.2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-title {
    font-size: 6rem;
    line-height: 0.9;
}

.round-accent {
    background-color: var(--primary);
    height: 70rem;
    width: 70rem;
    position: absolute;
    top: -10rem;
    left: -10rem;
    border-radius: 50%;
    z-index: 5;
    animation: changeColor 5s infinite;
}

@keyframes changeColor {
    0% {
        background-color: var(--primary);
    }
    50% {
        background-color: var(--secondary);
    }
}

.hero-container {
    display: flex;
    padding: 2rem 4rem;
    position: relative;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100svh;
    width: 100svw;
    backdrop-filter: blur(5rem);
}

.hero-greetings-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-curriculum-container {
    flex: 1;
}

.start-learning-button {
    margin-top: 4rem;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: var(--primary);
    color: rgb(255, 255, 255);
    border-radius: 0.25rem;
    transition: 0.3s ease-in-out all;
    cursor: pointer;
    align-self: end;
    animation: changeColor 3s infinite;
}

.start-learning-button:hover {
    box-shadow: 0 0 0 0.75rem rgba(0, 0, 0, 0.06);
}

.hero-shout-out {
    display: flex;
    align-items: center;
    align-self: end;
    padding-top: 2rem;
}

.hero-shout-out > .helper-text {
    font-size: 1.25rem;
}

.hero-shout-out > .shout-out-entity {
    height: 3rem;
    width: auto;
}

.hero-curriculum-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: end;
    margin-right: -4rem;
}

.curriculum {
    padding: 2rem 3rem;
    font-size: 2rem;
    cursor: pointer;
    width: 30rem;
    backdrop-filter: brightness(100);
    color: rgba(0, 0, 0, 0.8);
    transition: width 0.3s ease-in-out;
}

.curriculum:hover {
    width: 35rem;
}

.curriculum:nth-child(even) {
    background: var(--primary-content);
}

.curriculum:nth-child(odd) {
    background-color: var(--secondary-content);
}
